.mainconteiner{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    border: 3px solid blue;
    background-color: aqua;
    position: relative;

    .redcube{
        width: 100px;
        height: 100px;
        border: 3px solid rgb(226, 211, 0);
        background-color: rgb(226, 211, 0) ;
        position: absolute;
        left: 0px;
        top: 0px;
    }
}